<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login_reg/css/style.css' %}">
    <title>Login Registration</title>
  </head>
  <body>
    <h1>Enter a new Password</h1>
    <form class="password_reset_form" action="reset" method="post">
      <input type="password" name="update_password" placeholder="Password" value="">
      <input type="password" name="update_c_password" placeholder="Confirm Password" value="">
      <input type="submit" name="submit" value="Change Password">
    </form>
  </body>
</html>
