<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login_reg/css/style.css' %}">
    <title>Login Registration</title>
  </head>
  <body>
    <h1>reset Password</h1>
    <form class="reset_form" action="reset" method="post">
      {% csrf_token %}
      <input type="date" name="reset_birthday" placeholder="Birthday" value="">
      <p>Secret Question:</p>
      <input type="text" name="reset_answer" value="">
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
